body {
  background: url('./assets/background.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;
}

div {
  h1 {
    color: gold;
    text-align: center;
  }
  p {
    color: #fff;
    text-align: center;
  }
}